:root {
    --grid: 12;
    --gird-container-width: 1200px;
    --grid-container-gap: 15px;
    --grid-col-gap: 30px;
}
.container {
    max-width: var(--gird-container-width);
    margin: auto;
    padding: 0 var(--grid-container-gap);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--grid-col-gap) / -2);
}

.col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
    padding: calc(var(--grid-col-gap) / 2) calc(var(--grid-col-gap) / 2);
}

.d-flex {
    display: flex !important;
}
.justify-center {
    display: flex;
    justify-content: center;
}
.align-center {
    display: flex;
    align-items: center;
}
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-start {
    display: flex;
    flex-direction: column;
    align-self: start;
}
.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t-center {
    text-align: center !important;
}
