.about {
    height: 1172px;
    background-color: $bgLightAlt;
}
.about__content {
    position: relative;
}
.about__title {
    margin: auto;
    padding-top: 110px;
    width: calc(870 / 1170 * 100%);
}
.about__title-text {
    color: $textHeading;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 1.1666666667;
    letter-spacing: -0.2rem;
}
.about__title-sub {
    color: $textText;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'DM Sans';
    line-height: 1.5555555556;
    letter-spacing: -0.03rem;
}

.about__img-list {
    position: absolute;
    width: 870px;
    height: 650px;
    top: 402px;
    right: 15px;
    bottom: 120px;
}
.about__img-list * {
    position: absolute;
}

.about__img-icon {
    &:nth-child(3) {
        top: 120px;
        left: 280px;
    }
    &:nth-child(4) {
        right: -10px;
        bottom: 6px;
        transform: translateX(100%);
    }
}
.about__img-item {
    &:nth-child(1) {
        left: 0;
        bottom: 0;
    }
    &:nth-child(2) {
        top: 0;
        left: 401px;
    }
}

// box
.about__box {
    position: absolute;
    top: 352px;
    left: 15px;
    width: calc(570 / 1200 * 100%);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: $bigShadow;
}
.about__box-content {
    display: flex;
    flex-direction: column;
    padding: 60px 100px 40px;
}
.about__box-subtitle {
    color: $actionBlue;
}
.about__box-subtitle,
.about__box-text {
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'DM Sans';
    line-height: 1.5555555556;
    letter-spacing: -0.03rem;
}
.about__box-maintitle {
    color: $textHeading;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.2777777778;
    letter-spacing: -0.1rem;
}
.about__box-text,
.about__box-btn {
    color: $textText;
}

.about__box-btn {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7142857143;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
}
.about__box-indicator {
    width: 130px;
    align-self: center;
}
