@import './common';

// @include button('.btn', 155px, 56px, 13px, 24px, 5px);
// @include button('.btn-small', 129px, 48px, 13px, 24px, 5px);
// @include button('.btn-p18-32', auto, 56px, 18px, 32px, 5px);

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.03rem;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: $actionBlue;
    user-select: none;
    cursor: pointer;
}
.btn-small {
    font-size: 1.4rem;
    line-height: 1.71429;
}
.btn--disabled {
    cursor: not-allowed;
}
