.cta__title {
    width: 870px;
}
.cta__title-main {
    color: $textHeading;
}
.cta__title-sub {
    color: $textText;
    padding: 30px 50px 0 50px;
}
.cta__btn {
    width: auto;
    background-color: $actionBlue;
    color: #fff;
    text-transform: uppercase;
}
