footer {
    background-color: $bgGray;
}

.footer__main {
    gap: 30px;
}

.footer__topic {
    width: calc(170 / 1170 * 100%);
}
.footer__topic-name {
    position: relative;
    top: 6px;
    color: $textText--white;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.4545454545;
    letter-spacing: -0.1rem;
}
.footer__topic-list {
    list-style-type: none;
}
.footer__topic-item {
    padding-top: 10px;
}
.footer__topic-link,
.footer__topic-text {
    color: $textText--gray;
}
.footer__topic-link {
    text-transform: uppercase;
    transition: hover 0.3s ease;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7142857143;
    letter-spacing: -0.03rem;
    &:hover {
        text-decoration: underline;
        text-decoration-color: currentColor;
    }
}
.footer__topic-info {
    width: calc(370 / 1170 * 100%);
}
.footer__topic-text,
.footer__topic-input {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'DM Sans';
    line-height: 1.625;
}
.footer__topic-text--sm {
    font-size: 1.4rem;
    line-height: 1.7142857143;
    letter-spacing: -0.03rem;
}

.footer__topic-input {
    width: 235px;
    height: 48px;
    padding: 11px 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: $textText;
    caret-color: red;
    &::placeholder {
        color: $textText;
        opacity: 0.7;
    }
}
.footer__topic-btn {
    padding: 12px 40px;
}

.footer__sub {
    padding-top: 27px;
    padding-bottom: 27px;
    border-top: 1px solid $textText;
}

.footer__sub-copyright {
    color: $textText--gray;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'DM Sans';
    line-height: 1.625;
}
.footer__sub-icon-list {
    list-style-type: none;
}
.footer__sub-icon-item {
    &:not(:last-child) {
        margin-right: 15px;
    }
}
.footer__sub-icon-link {
    display: block;
    padding: 13px;
    background-color: $actionBlue;
    border-radius: 50%;
}

.footer__sub-icon-item img {
    width: 22px;
    height: 22px;
}
