header {
    position: fixed;
    inset: 0;
    bottom: unset;
    z-index: 10;
    background-color: $bgLightAlt;
}

header [class*='--active'] {
    &::after {
        position: absolute;
        display: block;
        content: '';
        @include circle(10px);
    }
}

.header {
    margin-top: 16px;
}

.header__nav {
    list-style-type: none;
    color: $textText;
    will-change: hover;
    transition: all 0.3s ease;
}
.header__nav-item {
    display: inline-block;
    &:not(:last-child) {
        padding-right: 30px;
    }
}
.header__nav-link {
    color: $textText;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.03rem;
    text-transform: uppercase;

    &:hover {
        color: $textHeading;
    }
}
.header__nav-link--active {
    position: relative;
    color: $textHeading;
    &::after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        background-color: $actionGreen;
    }
}

.header__btn-icon {
    --btn-width: 24px;
    --btn-height: 24px;

    position: relative;
    width: var(--btn-width);
    height: var(--btn-height);

    cursor: pointer;
    img {
        width: var(--btn-width);
        height: var(--btn-height);
    }
    &:has([alt='search']) {
        margin-right: 20px;
    }
}
.header__btn-icon--active {
    &::after {
        right: 0;
        top: 1px;
        background-color: $actionRed;
        border: 1px solid $bgWhite;
    }
}
.header__btn-sign-up {
    padding: 12px 39px;
    margin-left: 30px;
}
