.hero {
    min-height: 950px;
    background-color: $bgLightAlt;
}
.hero__img {
    position: absolute;
    top: 299px;
    left: 239px;
    right: 153px;
    width: fit-content;
}
.hero__img img {
    width: 100%;
}

.hero__content {
    padding-top: 148px;
    margin: 0 auto;
    // position: absolute;
    // top: 200px;
    // left: 575px;
    // width: calc(770 / 1920 * 100%);
}
.hero__text {
    padding: 38px 0 70px;
    width: 45%;
    color: $textText;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'DM Sans' 7;
    line-height: 1.5555555556;
    letter-spacing: -0.03rem;
    font-feature-settings: 'clig' off, 'liga' off;
}
.hero__title {
    width: 60%;
    color: $textHeading;
    font-weight: 500;
    font-size: 7.2rem;
    line-height: 1.0833333333;
    letter-spacing: -0.2rem;
    font-feature-settings: 'clig' off, 'liga' off;
}

.hero__btn {
    display: flex;
    align-items: center;
}
.hero__btn-book {
    padding: 16px 32px;
}
.hero__btn-play-link {
    padding-left: 7px;
    color: $textHeading;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6; /* 160% */
    letter-spacing: -0.03rem;
    text-transform: uppercase;
}
.hero__btn-play-icon {
    cursor: pointer;
    @include circle(52px);
    background-color: #fff;
    &:hover {
        filter: drop-shadow(0px 5px 20px rgba(18, 2, 47, 0.15));
    }
}
.hero__btn-play-icon img {
    width: 20px;
    height: 20px;
}
