.items {
    padding: 100px 65px;
    background-color: $bgLightAlt;
}
.items__title {
    color: $textHeading;
    width: 370px;
    height: 82px;
    align-self: start;
    flex-shrink: 0;
}
.items__item {
    &:not(:last-child) {
        padding-right: 30px;
    }
}
.items__icon {
    @include circle(70px);
    background-color: $actionPurple;
}
.items__icon img {
    width: 30px;
    height: 30px;
}

.items__content {
    width: 270px;
    span {
        &:first-child {
            color: $textHeading;
        }
        &:last-child {
            color: $textText;
        }
    }
}
