.portfolio__title {
    width: calc(970 / 1170 * 100%);
    margin: 0 auto;
    color: $textHeading;
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 1.1904761905;
    letter-spacing: -0.084rem;
}

.portfolio__row {
    &:first-child {
        position: relative;
        &::before {
            position: absolute;
            left: 5px;
            top: calc(490px + 15px);
            transform: translateX(-100%);
            content: url('../../assets/img/portfolio/onion.svg');
        }
    }
}
.portfolio__location {
    padding-top: 29px;
    color: $actionBlue;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.4545454545;
    letter-spacing: -0.1rem;
}
