.select {
    position: absolute;
    top: -11px;
    right: 0;
    &::after {
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        position: absolute;
        width: 14px;
        height: 14px;
        content: url('../../assets/img/fi-chevron-right-opacity.svg');
    }
}
.select--up {
    &::after {
        transform: translateY(-50%) rotate(180deg);
    }
}
.select select {
    min-width: 21rem;
    min-height: 4.8rem;
    padding: 11px 60px 11px 8px;
    color: $textText;
    font-family: DM Sans;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
    border: 1px solid $lineGray-line;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
