.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.services__title {
    width: calc(970 / 1170 * 100%);
    // padding: 0 180px;
}
.services__title-main {
    color: $textHeading;
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.16667;
    letter-spacing: -0.2rem;
}

.services__title-sub {
    color: $textText;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55556; /* 155.556% */
    letter-spacing: -0.03rem;
}

.services__card {
    position: relative;
    &::after {
        position: absolute;
        right: -10px;
        bottom: 15px;
        transform: translateX(100%);
        content: url('../../assets/img/services/onion.svg');
    }
}

.services__card-item {
    min-height: 100%;
    padding: 41px 55px 64px 45px;
    border-radius: 12px;
    border: 1px solid $lineGray-line;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
        // border: none;
        box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
    }
}
.services__card-icon {
    // @include circle(90px);
    padding: 20px;
    border-radius: 50%;
    &:has([alt='office']) {
        background-color: rgb(136, 108, 255, 0.2);
    }
    &:has([alt='desk1']) {
        background-color: rgb(79 119 255 / 20%);
    }
    &:has([alt='desk2']) {
        background-color: #ff951333;
    }
}
.services__card-title {
    padding-top: 38px;
}

.services__card-title-main {
    color: $primaryColor-black;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.4545454545;
    letter-spacing: -0.1rem;
}
.services__card-title-sub {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.625;
    color: $textText;
    font-family: 'DM Sans';
}
// button
.services__btn {
    padding: 16px 32px;
}
