$actionBlue: #4f77ff;
$actionPink: #ffc0ec;
$actionTurquoise: #61dcdf;
$actionDarkBlue: #001c7f;
$actionYellow: #f9e492;
$actionOrange: #ff9513;
$actionRed: #ef3737;
$actionPurple: #886cff;
$actionGreen: #34c635;

$textHeading: #2d3958;
$textText: #7b88a8;
$textText--white: #ffffff;
$lineGray-line: #e7e5ea;
$textText--gray: #e7e5ea;

$bgGray: #292f3a;
$bgDark: #12022f;
$bgLight: #f8fafc;
$bgAlt: #321370;
$bgLightAlt: #f7f5f1;
$bgWhite: #ffffff;

$fontPrimary: Outfit, sans-serif;
$fontSecondary: 'DM Sans', sans-serif;

$purpleGradient: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);

$primaryColor-black: #120f1f;
$black-200: #788190;

$bigShadow: 0px 60px 40px 0px rgba(18, 2, 47, 0.1);
